<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<%- contentFor( 'body') %>

  <img id="line2" src="images/enfeite_05.png" alt="Imagem ilustrativa de médico" >

<section>
<div class="content2">
    <div id="textbox">
    <img id="nempresa" src="images/nomeempresa.png" alt="Imagem ilustrativa de médico" >
    <h1>Pacientes</h1><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Email</th>
            <th scope="col">Login</th>
            <th scope="col">Idade</th>
            <th scope="col">Altura</th>
            <th scope="col">Alterar Paciente</th>
            <th scope="col">Excluir Paciente</th>
          </tr>
        </thead>
        <tbody>
          <% let linkRemove="/cadastro/remove/"; %>
          <% let linkUpdate="/cadastro/update/"; %>
          <% for(let index=0; index<users.length;index++){ %>
          <tr>
            <th scope="row"><%- index %></th>
            <td><%= users[index].name %></td>
            <td><%= users[index].endereco %></td>
            <td><%= users[index].email %></td>
            <td><%= users[index].login %></td>
            <td><%= users[index].idade %></td>
            <td><%= users[index].altura %></td>
            <td><a href="<%= linkUpdate + "id=" + index %>"><button type="button" class="btn btn-success" id="alterar-botao">Alterar</button></a></td>
            <td><a href="<%= linkRemove + "id=" + index %>"><button type="button" class="btn btn-danger" id="remover-botao">Remover</button></a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

</div>

</section>